.zero-gap {
  letter-spacing: -.2rem;
}

.zero-gap > .layout__item {
  letter-spacing: normal;
}

@-moz-document url-prefix() {
  .zero-gap {
    word-spacing: -.2rem;
  }

  .zero-gap > .layout__item {
    word-spacing: normal;
  }
}
